@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
body{
    background-color: rgb(35,36,41);
}
li, a, button, .slide-show-absolute-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
    background-color: rgb(24, 25, 29);
}
.nav-logo {
    cursor: pointer;
    margin-right: auto;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
    color: red;
    border-bottom: 2px solid red;
    /* color: #0088a9; */
}
.sign-btn{
    display: flex;
    flex-direction: row;
}
.form-cta, .cta button{
    padding: 9px 25px;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 0px 2px 0px 2px;
}
.form-cta:hover, .cta button:hover{
    background-color: rgba(255, 0, 0, 0.863);
    /* background-color: rgba(0,136, 169, 0.8); */
}
/* NAVIGATION BAR END */

/* FORM CSS START */
.signin-signup{
    display: none;
    margin: 48px 0px;
}
.signin-signup .main .form-heading{
    text-align: center;
    margin-bottom: 25px;
}
.signin-signup .main .form-heading span{
    font-size: 81.96px;
    font-weight: bolder;
    color: red;
    text-align: center;
    font-family: 'Pacifico', cursive;
    -webkit-text-stroke: 1px rgb(99, 0, 0);
}
.signin-signup .main form{
    margin: 0px auto;
    width: 50%;
    background-color: rgb(70, 68, 68);    
}
.signin-signup .main form input{
    display: block;
    margin: 0px auto;
    border-radius: 20px;
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    box-shadow: 1px 1px 3px black;
    padding: 5px 25px;
}
.signin-signup .main form .input:hover{
    background-color: gray;
}
.signin-signup .main form .btn-login{
    background-color: red;
    font-weight: bold;
}
.signin-signup .main form .btn-login:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
    color: white;
    background-color: rgb(175, 0, 0);
}
.signin-signup .main form .btn-signup{
    box-shadow: none;
    padding-top: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.signin-signup .main form .btn-signup:hover{
    color: rgb(255, 255, 255);
    background-color: transparent;
    box-shadow: 1px 1px 3px black;
}
/* FORM CSS END */

/* SLIDESSHOW START */
.slide-show {
    position: relative;
    background-color: rgb(35, 36, 41);
}
.myslide{
    width: 80%;
    margin: auto;
}
.myslide img{
    margin: auto;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    width: 100%;
    text-align: center;
    background-color: rgb(35, 36, 41);
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(107, 107, 107);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #ffffff;
}
/* SLIDESHOW END */

/* SERVICES START */
.services{
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color:  rgb(35, 36, 41);
}
.services .heading label{
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 10%;
    border-bottom: 3px solid white;
}
.services-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-bottom: 25px;
}
.card{
    background-color: rgb(82, 82, 82);
    margin: 5px;
    border-radius: 20px;
    transition: all 0.5s ease 0s;
}
.card a{
    text-decoration: none;
}
.services .services-card .card:hover{
    background-color: rgb(24, 25, 29);
    opacity: 0.3;
}
.card a img{
    width: 100%;
    cursor: pointer;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(255, 255, 255);
}
.card a h2{
    color: #edf0f1;
    text-align: center;
}
/* SERVICES END */

/* ABOUT START */
.about{
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color:  rgb(39, 39, 39);
}
.about .heading{
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 10%;
}
.about .heading label{
    border-bottom: 3px solid white;
}
.about .about-content .upper-text{
    width: 80%;
    margin: 0px auto;
    position: relative;
}
.about .about-content .chef img{
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.about .about-content .mid-image{
    width: 80%;
    margin: 50px auto;
}
.about .about-content .mid-image img{
    border-radius: 50px;
    width: 100%;
    margin: 10px auto;
}
/* ABOUT END */

/* FEEDBACK START */
.feedback{
    width: 80%;
    margin: auto;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color:  rgb(35, 36, 41);
}
.feedback .heading label{
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 20px;
    border-bottom: 3px solid white;
}
.feedback .form form{
    display: flex;
    flex-direction: column;
}
.feedback .form form label{
    width: 60%;
    margin: 0px auto;
}
.feedback .form form .form-input-text{
    border-radius: 20px;
}
.feedback .form form .form-input-text, .feedback .form form .form-textarea{
    width: 60%;
    margin: 10px auto;
    background-color: gray;
    color: rgb(255, 255, 255);
    border: none;
    padding: 2px 2px 2px 15px;
    transition: all 0.3s ease 0s;
}
.feedback .form form .form-input-text:hover, .feedback .form form .form-textarea:hover{
    background-color: white;
    box-shadow: 2px 1px 10px rgb(158, 158, 158);
    color: black;
}

.feedback .form form .form-textarea{
    border-radius: 20px 20px 0px 20px;
}
.feedback .form form .form-submit{
    width: 20%;
    margin: 10px auto;
    color: white;
    background: transparent;
    border: none;
    box-shadow: 3px 3px 8px white;
    transition: all 0.3s ease 0s;
}
.feedback .form form .form-submit:hover{
    color: red;
    box-shadow: 1px 1px 8px white;
}
/* FEEDBACK END */

/* FOOTER START */
.home-selector{
    background-color: rgb(24, 25, 29);
    width: 100%;
    height: 100px;
}
.home-selector p{
    color: white;
    padding-top: 20px;
    text-align: center;
}
.home-selector label {
    float: left;
    margin: 0px 0px 2px 20px;
    transition: all 0.3s ease 0s;
    position: relative;
    width: 200px;
}
.home-selector label{
    cursor: pointer;
}
.home-selector label i .span-text a{
    font-size: medium;
    padding: 2px 8px;
    display: none;
    position: absolute;
    border-radius: 20px;
    color: red;
    font-weight: bold;
    top: -15px;
    left: 0px;
}
.home-selector label i .span-text a:hover{
    display: block;
}
.home-selector .scroll-up{
    float: right;
    padding: 0px 20px 2px 0px;
    
}
/* FOOTER END */
@media only screen and (max-width: 800px){
    body {
        background-color: rgb(0, 0, 0);
      }
      .nav{
          display: flex;
          flex-direction: column;
      }
      .nav-logo{
          margin: 0px 0px 10px 0px;
      }
      .cta button{
          margin-top: 20px;
      }
      .form-cta{
        margin-top: 20px;
    }
}
@media only screen and (max-width: 700px) {
    
    .services-card{
        width: 55%;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;
    }
    .services .heading{
        margin: 0;
        text-align: center;
        padding: 10px 0px;
    }
    .about .heading{
        text-align: center;
        padding: 10px 0px;
    }
    .contact .heading{
        text-align: center;
        padding: 10px 0px;
    }
  }

@media only screen and (max-width: 550px){
    .about .about-content .chef img{
        display: none;
    }
}
@media only screen and (max-width: 475px){
    .myslide{
        width: 100%;
        margin: auto;
    }
    .nav-links li{
        padding: 0px 5px;
    }
    .nav-links li a{
        padding: 0px 1px;
    }
    .signin-signup .main .form-heading span{
        font-size: 45px;
    }
    .signin-signup .main form{
        width: auto;
    }
    .feedback .heading label{
        font-size: medium;
    }
    .feedback .form form .form-input-text, .feedback .form form .form-textarea{
        padding: 1px 1px 1px 8px;
        font-size: small;
    }
    .feedback .form form .form-textarea{
        border-radius: 8px 8px 0px 8px;
    }
    .feedback .form form .form-submit{
        font-size: small;
    }
    
}